
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow">

  
  <div class="container-fluid">

    
    <app-logo></app-logo>

    
    <button 
      class="navbar-toggler" 
      type="button" 

      
      data-bs-toggle="collapse" 

      
      data-bs-target="#menuPrincipal">

      
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="menuPrincipal">

      
      <div class="navbar-nav ms-auto align-items-center">

        
        <app-nav-button link="/home" texto="INICIO"></app-nav-button>

        
        <app-nav-button link="/catalogo" texto="CATÁLOGO"></app-nav-button>

        
        <app-nav-button link="/cotizacion" texto="COTIZACIÓN"></app-nav-button>

        
        <app-nav-button link="/contacto" texto="CONTACTO"></app-nav-button>

      </div>
    </div>
  </div>
</nav>