<!-- Contenedor principal que organiza el logo y el nombre de la marca en una misma fila -->
<div class="d-flex align-items-center p-2">

  <!-- Imagen del logo de la empresa -->
  <img 
    src="recursos/Logo-global.png" 
    alt="Logo"
    class="logo-img">
    
  
  <!-- Texto que representa el nombre de la marca -->
  <span class="brand-text ms-3 text-white text-uppercase fw-bold responsive-brand-text">

    <!-- Nombre de la empresa mostrado junto al logo -->
    Global Truck Hub
  </span>
</div>
